/** index.html **/
.white-color {
    color: white !important;
}
/*/** Tweet Dashboard **/
.tweet-account-header {
    margin-top: 55px;
}
.tweet-feed-column hr {
    margin-top: 0px;
}

.tweet-feed-column .panel {
    word-wrap: break-word;
    border: none;
}
.tweet-feed-column .panel-footer {
    background-color: white;
    border-top:none;
}
.username {
    font-size: 13px;
    color: #8899a6;
}
.user-title{
    color: black;
    margin-left: 5px;
}
.profile-image {
    vertical-align: top;
}
.tweet-content {
    font-size: 18px;
    margin-left: 50px;
    margin-top: -20px;
}
.blue-background {
    background-color: #03a9f4;
}
.tweet-image {
    width: calc(100% - 50px);
    height: 100%;
    margin-left: 50px;
    margin-top:-50px;
}

/* settings page */
#settings-container {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 55px;
}
@media (max-width: 768px) {
  #layout-settings-row {
    display: none;
  }
}
