.panel {
    word-wrap: break-word;
}
.panel-footer {
    background-color: white;
    border-top:none;
}
.username {
    font-size: 13px;
    color: #8899a6;
}
.user-title{
    color: black;
}
.tweet-content {
    margin-left: 50px;
}
.blue-background {
    background-color: #03a9f4;
}
.tweet-image {
    width: calc(100% - 50px);
    height: 100%;
    margin-left: 50px;
}

/* settings page */
#settings-container {
    margin-left: 1%;
    margin-right: 1%;
}
@media (max-width: 768px) {
  #layout-settings-row {
    display: none;
  }
}
